.sidebar {
  width: 200px;
  background-color: #333333;
  position: fixed;
  height: 100%;
  margin-left: 100px;
  &__username {
    font-size: 1.5rem;
    text-align: center;
    color: #e1f4f3;
    padding: 1.5rem;
  }
  &__notes {
    font-size: 1.2rem;
    color: #e1f4f3;
    margin-left: 2rem;
  }
  &__groups {
    font-size: 1.2rem;
    color: #e1f4f3;
    margin-left: 2rem;
  }
}
