.todo-item {
  padding: 0.7rem 1rem;
  border-bottom: solid 2px #333333;
  font-size: 14px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  &__left-wrapper {
    display: flex;
  }
  &__right-wrapper {
    display: flex;
  }
  &__content {
    margin-left: 0.5rem;
  }
}
