.todo-list {
  &__title {
    text-align: center;
    font-size: 2rem;
  }
  &__list {
    margin: 0 5rem;
    display: flex;
    flex-direction: column;
  }
  &__add {
    width: 100%;
    &__button {
      cursor: pointer;
    }
    &__input {
      color: #333333;
    }
  }
}


.right-input-element {
  display: flex;
  &__date-picker {
    margin: 0.3rem 2rem;
  }
}
