@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0;
  height: 100%;
  font-family: 'sfprodisplay', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


@font-face {
  font-family: sfprodisplay;
  src: url('./assets/sfprodisplay/SFProDisplay-Regular.woff');
  font-weight: 400;
}

@font-face {
  font-family: sfprodisplay;
  src: url('./assets/sfprodisplay/SFProDisplay-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: sfprodisplay;
  src: url('./assets/sfprodisplay/SFProDisplay-Bold.woff');
  font-weight: 700;
}

.font-medium {
  font-size: 1.5rem;
}

.font-big {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.background-color {
  background-color: rgba(0, 0, 0, 0.65);
}

.flex {
  display: flex;
}